#sideNav{
    height: 100vh;
    padding: 1.5%;
    border-right: 1px solid white;

    #account{
        p#username{
            font-size: 1.1rem;

        }
        span#anonymousPrompt{
            color: $error;
            text-align: justify;
            font-size: 0.75rem;
            a{
                color: $info;
            }
        }
    }

    #generalActions{
        margin-top: 5vh;

        .fileAction, #logoutButton{
            cursor: pointer;
            transition: background-color 0.2s ease;
            display: flex;
            justify-content: baseline;
            padding: 1vh;
            
            &:hover{
                background-color: lighten($bg-color, 10);
            }
            span{
                user-select: none;
            }
        }

    }

}
#rightPanel{
    max-height: 100vh;
}
#topNav{
    padding: 1vh;
    height: 7.5vh;
    display: inline-flex;
    border-bottom: 1px solid white;
    justify-content: baseline;
    
    #logo{
        margin-top: 1.25vh;
        display: block;
    }

    #menuTop{
        display: inline-flex;
        flex-wrap: wrap;
        
        .menuItem{
            cursor: pointer;
            transition: background-color 0.2s ease;
            text-align: center;
            justify-content: baseline;
            width: fit-content;
            padding: 1.25vh;

            &:hover{
                background-color: lighten($bg-color, 10);
            }
        }
    }
}
#searchBox{
    display: none;

    #search{
        background-color: $bg-color;
        color: $font-color;
        outline: auto;
        width: 50%;
        height: 100%;
        border: 0px white solid !important;
        font-size: 1.15rem;
        padding: 0.5rem;
    }
    #exitSearchForm{
        position: relative;
        left: -35px;
        cursor: pointer;
        transition: color 0.2s ease;
        &:hover{
            color: $error;
        }
    }
}
#app{
    padding: 2.5vh;
    height: calc(92.5vh - 1px); 
}
#appContainer{
    display: inline-flex;
    padding: 0px;

    .icon-cog{
        width: 80%;
        margin-top: 15%;
        text-align: center;
        position: absolute;
        animation: 2s spin linear infinite !important;
    }
    @keyframes spin{
        100%{ 
            -webkit-transform: rotate(360deg); 
            transform:rotate(360deg); 
        } 
    }

    #directories{
        border-right: 1px solid white;
        width: 12.5%;
        display: inline-flex;
        flex-direction: column;
        justify-content: baseline;
    }

     // custom scrollbar styles
        /* width */
        ::-webkit-scrollbar {
            width: 10px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: lighten($bg-color, 0.25);
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: $bg-color;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: darken($bg-color, 0.25);
        }

    #listedFiles{
        width: 100%;
        padding: 0vh 2.5vh;
        overflow-y: scroll;

        .enteredDirectory{
            width: fit-content;
            padding: .75rem;
            transition: background-color 0.2s ease;
            border-radius: 3px;
            cursor: pointer;
            &:hover{
                background-color: lighten($bg-color, 25);
            }
        }

        .userFile{
            margin-bottom: 0.75vh;
            font-size: 0.9rem;
            border-bottom: 1px solid white;
            display: inline-flex;
            justify-content: baseline !important;
            height: 50px;
            line-height: 1.5rem;


            &.selected{
                border: 1px solid rgba($info, 0.75);
                background-color: darken(rgba($bg-color, 0.25), 5);
            }

            .data{
                a{
                    color: $font-color;
                    text-decoration: none;

                    &:hover{
                        color: $info;
                    }
                }
                img.smallPreview{
                    height: 40px;
                    width: 50px;
                    margin-right: 10px;
                    margin-bottom: 0.75vh;
                }
                .fileSize{
                    font-size: 0.8rem;
                    color: darken($font-color, 10);
                }
            }
            .fileMenagment{
                font-size: 1.15rem;
                display: inline-flex;
                justify-content: baseline !important;

                .date{
                    font-size: 0.85rem;
                    height: 100%;
                    justify-content: baseline !important;
                }

            }

        }
    }

    // this is dropdown for the file aswell as directory settings
    // this is for arrow in bootstrap dropdown
    .dropdown-toggle::after {
        display:none;
    }

    .action{
        cursor: pointer;

        &.deleteFile:hover{
            color: $error;
        }
        &.options{
            transform: rotate(90deg);
        }
    }

    .dropdown-menu{
        .dropdown-item{
            cursor: pointer;
        }
        .dropdownFileName{
            user-select: none;
            cursor: default;
            &:hover{
                background-color: inherit;
            }
        }
    }

    .enterDirectory{
        cursor: pointer;
        width: 100%;
        transition: background-color 0.2s ease;
        user-select: none;
        height: 2rem;
        margin: 1rem 0rem;
        word-wrap: break-word;
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        span.directoryName{
            width: calc(90% - 1rem);
            padding: 0.75rem 0.5rem;
            transition: background-color 0.2s ease;
            border-radius: 3px;
            &:hover{
                background-color: lighten($bg-color, 25);
            }
        }
        .options{
            width: 10%;
            height: 100%;
        }
    }
}

#bootstrapCard{
    margin-top: 7.5vh;
    .card-body{
        color: $font-color;
        background-color: $bg-color;
        
        a{
            color: $font-color;
            transition: color 0.2s ease;
            &:hover{
                color: lighten($info, 15);
            } 
        }
    .form-group{
        margin-top: 1vh;
    }
    }
    .card-header{
        background-color: darken($bg-color, 15%);
    }
}