@font-face {
  font-family: 'fontello';
  src: url(/fonts/fontello.eot?6bd347e72596f417b81f9fc7811d11ee);
  src: url(/fonts/fontello.eot?6bd347e72596f417b81f9fc7811d11ee#iefix) format('embedded-opentype'),
       url(/fonts/fontello.woff2?9a612fc455968dbb4319fcd2d3266e97) format('woff2'),
       url(/fonts/fontello.woff?fd12944926c827422df87e6d20fb7da2) format('woff'),
       url(/fonts/fontello.ttf?f69dc26d92e7990993211738fddcaef1) format('truetype'),
       url(/fonts/fontello.svg?5c5ad6535ec991321a2e0c2977fca6ea#fontello) format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?26493591#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-upload:before { content: '\E800'; } /* '' */
.icon-download:before { content: '\E801'; } /* '' */
.icon-trash-empty:before { content: '\E802'; } /* '' */
.icon-doc:before { content: '\E803'; } /* '' */
.icon-folder:before { content: '\E804'; } /* '' */
.icon-dot-3:before { content: '\E805'; } /* '' */
.icon-clock:before { content: '\E806'; } /* '' */
.icon-find:before { content: '\E807'; } /* '' */
.icon-view:before { content: '\E808'; } /* '' */
.icon-cancel:before { content: '\E809'; } /* '' */
.icon-plus:before { content: '\E80A'; } /* '' */
.icon-ok:before { content: '\E80B'; } /* '' */
.icon-home:before { content: '\E80C'; } /* '' */
.icon-sort:before { content: '\F15D'; } /* '' */
.icon-share-squared:before { content: '\F1E1'; } /* '' */
html,
body {
  background-color: #585858;
  color: #ececec;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  overflow-x: hidden;
}

a {
  color: #ececec;
}

a:hover {
  color: #ececec;
}

i {
  margin-right: 5px;
}

.alert {
  position: absolute;
  top: 15vh;
  display: none;
}

#sideNav {
  height: 100vh;
  padding: 1.5%;
  border-right: 1px solid white;
}

#sideNav #account p#username {
  font-size: 1.1rem;
}

#sideNav #account span#anonymousPrompt {
  color: #ff6868;
  text-align: justify;
  font-size: 0.75rem;
}

#sideNav #account span#anonymousPrompt a {
  color: #68b4ff;
}

#sideNav #generalActions {
  margin-top: 5vh;
}

#sideNav #generalActions .fileAction,
#sideNav #generalActions #logoutButton {
  cursor: pointer;
  transition: background-color 0.2s ease;
  display: flex;
  justify-content: baseline;
  padding: 1vh;
}

#sideNav #generalActions .fileAction:hover,
#sideNav #generalActions #logoutButton:hover {
  background-color: #727272;
}

#sideNav #generalActions .fileAction span,
#sideNav #generalActions #logoutButton span {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#rightPanel {
  max-height: 100vh;
}

#topNav {
  padding: 1vh;
  height: 7.5vh;
  display: inline-flex;
  border-bottom: 1px solid white;
}

#topNav #menuTop {
  display: inline-flex;
  flex-wrap: wrap;
}

#topNav #menuTop .menuItem {
  cursor: pointer;
  transition: background-color 0.2s ease;
  text-align: center;
  justify-content: baseline;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1.25vh;
}

#topNav #menuTop .menuItem:hover {
  background-color: #727272;
}

#app {
  padding: 2.5vh;
  height: calc(92.5vh - 1px);
}

#appContainer {
  display: inline-flex;
}

#appContainer #directories {
  border-right: 1px solid white;
  width: 12.5%;
  display: inline-flex;
  flex-direction: column;
  justify-content: baseline;
}

#appContainer #listedFiles {
  width: 100%;
  padding: 0vh 2.5vh;
}

#appContainer #listedFiles .userFile {
  margin-bottom: 0.75vh;
  font-size: 0.9rem;
  border-bottom: 1px solid white;
  display: inline-flex;
  justify-content: baseline;
}

#appContainer #listedFiles .userFile .data a {
  color: #ececec;
  text-decoration: none;
}

#appContainer #listedFiles .userFile .data a:hover {
  color: #68b4ff;
}

#appContainer #listedFiles .userFile .data img.smallPreview {
  height: 40px;
  width: 50px;
  margin-right: 10px;
  margin-bottom: 0.75vh;
}

#appContainer #listedFiles .userFile .data .fileSize {
  font-size: 0.8rem;
  color: lightgray;
}

#appContainer #listedFiles .userFile .fileMenagment {
  font-size: 1.15rem;
  display: inline-flex;
  justify-content: baseline;
  padding-top: 0.75vh;
}

#appContainer #listedFiles .userFile .fileMenagment .dropdown-toggle::after {
  display: none;
}

#appContainer #listedFiles .userFile .fileMenagment .action {
  cursor: pointer;
}

#appContainer #listedFiles .userFile .fileMenagment .action.deleteFile:hover {
  color: #ff6868;
}

#appContainer #listedFiles .userFile .fileMenagment .action.options {
  right: 4.5vh;
  position: absolute;
  transform: rotate(90deg);
}

#appContainer #listedFiles .userFile .fileMenagment .dropdown-menu .dropdownFileName {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#appContainer #listedFiles .userFile .fileMenagment .dropdown-menu .dropdownFileName:hover {
  background-color: inherit;
}

#index {
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#index #baner {
  width: 100%;
  max-height: 100vh;
}

#index #baner #centerText {
  margin: 0px;
  position: absolute;
  z-index: 10;
  text-align: center;
  width: 50%;
  margin-left: 25%;
  margin-top: 10vh;
  padding: 5vh 7.5vh;
  font-size: 4.5rem;
}

#index #baner #centerText p#mainText {
  font-size: 7.5rem;
  margin: 0px;
  padding: 0px;
  line-height: 1;
}

#index #baner #centerText p#subText {
  margin: 0px;
  padding: 0px;
  font-size: 2rem;
  line-height: 1;
  color: lightgray;
}

#index #baner #backgroundImage {
  margin: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
}

#index #baner #buttons {
  position: absolute;
  z-index: 10;
  display: inline-flex;
  margin-top: 50vh;
  justify-content: center;
}

#index #baner #buttons button,
#index #baner #buttons p {
  font-size: 1.5rem;
  padding: 1.5vh 2vh;
}

#uploadForm {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  margin: 0px;
  display: none;
  background-color: rgba(63, 63, 63, 0.95);
}

#uploadForm #wrapper {
  margin-top: 10vh;
  background-color: #323232;
  position: relative;
  display: block;
  border-radius: 1.5%;
}

#uploadForm #wrapper #title {
  background-color: #323232;
  display: inline-flex;
  color: #ececec;
  border-bottom: 1px white solid;
}

#uploadForm #wrapper #title #smallExit {
  cursor: pointer;
  color: #ff6868;
  text-align: center;
}

#uploadForm #wrapper #uploadForm {
  background-color: #323232;
  padding: 2.5vh;
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#uploadForm #wrapper #uploadForm ul#listFiles {
  list-style: none;
  display: none;
  font-size: 0.85rem;
  display: flex;
  flex-direction: column;
  margin-top: 2.5vh;
}

#uploadForm #wrapper #uploadForm ul#listFiles li {
  padding: 0.65vh;
  margin: 0.25vh;
  display: inline-flex;
  vertical-align: text-bottom;
}

#uploadForm #wrapper #uploadForm ul#listFiles li span.fileSize {
  color: lightgray;
  margin-left: 15px;
}

#uploadForm #wrapper #uploadForm ul#listFiles li:nth-child(2n) {
  background-color: #656565;
}

#uploadForm #wrapper #uploadForm ul#listFiles:last-child {
  border-bottom: 0px;
}

#uploadForm #wrapper #uploadForm label.labelFiles {
  height: 15vw;
  width: 15vw;
  margin: 10vh;
  margin-left: 25vw;
}

#uploadForm #wrapper #uploadForm #boxShaped {
  border: 2px dashed lightgray;
  height: 100%;
  width: 100%;
  display: block;
  cursor: pointer;
}

#uploadForm #wrapper #uploadForm #boxShaped i {
  font-size: 5rem;
  text-align: center;
  width: 100%;
  height: 100%;
  display: block;
  margin-top: 25%;
}

#uploadForm #wrapper #uploadForm #uploadButton {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

#uploadForm #wrapper #uploadForm #selectGroup {
  display: inline-flex;
}

#uploadForm #wrapper #uploadForm #selectGroup .selectFilesButtons {
  cursor: pointer;
  transition: background-color 0.2s ease;
  text-align: center;
  justify-content: baseline;
  padding: 1vh;
  padding-bottom: 0.5vh;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  font-size: 1rem !important;
  font-weight: 500 !important;
}

#uploadForm #wrapper #uploadForm #selectGroup .selectFilesButtons label {
  cursor: pointer;
  width: 100%;
  height: 100%;
  padding-top: 0.75vh;
}

#uploadForm #wrapper #uploadForm #selectGroup .selectFilesButtons:hover {
  background-color: #727272;
}

#uploadForm #wrapper #uploadForm #selectGroup #addFolder i#checkerFolder {
  margin: 0px;
  visibility: hidden;
}

#uploadForm #wrapper #uploadForm #selectGroup #addFolder #checkedBorder {
  border: 1px white solid;
}

#uploadForm #wrapper #uploadForm #selectGroup #addFolder #checkedBorder i {
  color: #8eff5a;
}

