@font-face {
  font-family: 'fontello';
  src: url(/fonts/fontello.eot?df326f7b5b0686e9cec782a7f6abe7a7);
  src: url(/fonts/fontello.eot?df326f7b5b0686e9cec782a7f6abe7a7#iefix) format('embedded-opentype'),
       url(/fonts/fontello.woff2?c9e2306ab93a167a5df629b10f83377f) format('woff2'),
       url(/fonts/fontello.woff?95f5173cb4a30fe504c7b8784a572eb8) format('woff'),
       url(/fonts/fontello.ttf?9aaeb5614e96a56b675a6588fb75f9c8) format('truetype'),
       url(/fonts/fontello.svg?71d8918afacc22f93887611da9be2484#fontello) format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?40246903#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-upload:before { content: '\E800'; } /* '' */
.icon-download:before { content: '\E801'; } /* '' */
.icon-trash-empty:before { content: '\E802'; } /* '' */
.icon-plus-circled:before { content: '\E803'; } /* '' */
.icon-folder:before { content: '\E804'; } /* '' */
.icon-dot-3:before { content: '\E805'; } /* '' */
.icon-clock:before { content: '\E806'; } /* '' */
.icon-share-squared:before { content: '\F1E1'; } /* '' */
html,
body {
  background-color: #585858;
  color: #ececec;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  overflow-x: hidden;
}

a {
  color: #ececec;
}

a:hover {
  color: #ececec;
}

#sideNav {
  border: 1px white solid;
  height: 100vh;
  padding: 1.5%;
}

#sideNav #account p#username {
  font-size: 1.1rem;
}

#sideNav #account span#anonymousPrompt {
  color: #ff6868;
  text-align: justify;
  font-size: 0.75rem;
}

#sideNav #account span#anonymousPrompt a {
  color: #68b4ff;
}

#sideNav #generalActions {
  margin-top: 5vh;
}

#sideNav #generalActions .menuItem {
  cursor: pointer;
  transition: background-color 0.2s ease;
  display: flex;
  justify-content: baseline;
  padding: 1vh;
}

#sideNav #generalActions .menuItem:hover {
  background-color: #727272;
}

#sideNav #generalActions .menuItem i {
  margin-right: 5px;
}

#sideNav #generalActions .menuItem span {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#rightPanel {
  max-height: 100vh;
}

#topNav {
  border: 1px white solid;
  padding: 1vh;
  height: 7.5vh;
}

#app {
  border: 1px white solid;
  padding: 2.5vh;
  height: 85vh;
}

#index {
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#index #baner {
  width: 100%;
  max-height: 100vh;
}

#index #baner #centerText {
  margin: 0px;
  position: absolute;
  z-index: 10;
  text-align: center;
  width: 50%;
  margin-left: 25%;
  margin-top: 10vh;
  padding: 5vh 7.5vh;
  font-size: 4.5rem;
}

#index #baner #centerText p#mainText {
  font-size: 7.5rem;
  margin: 0px;
  padding: 0px;
  line-height: 1;
}

#index #baner #centerText p#subText {
  margin: 0px;
  padding: 0px;
  font-size: 2rem;
  line-height: 1;
  color: lightgray;
}

#index #baner #backgroundImage {
  margin: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
}

#index #baner #buttons {
  position: absolute;
  z-index: 10;
  display: inline-flex;
  margin-top: 50vh;
  justify-content: center;
}

#index #baner #buttons button {
  font-size: 1.5rem;
  padding: 1.5vh 2vh;
}

